@font-face {
  font-family: "telegraf";
  src: url("../fonts/PPTelegraf/PPTelegraf-UltraLight.otf");
}

@font-face {
  font-family: "gallient";
  src: url("../fonts/gallient-cufonfonts/GallientRegular-eZoMp.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
