@font-face {
  font-family: "telegraf";
  src: url("../fonts/PPTelegraf/PPTelegraf-UltraLight.otf");
}

@font-face {
  font-family: "gallient";
  src: url("../fonts/gallient-cufonfonts/GallientRegular-eZoMp.ttf");
}

@font-face {
  font-family: "kenoky";
  src: url("/public/fonts/kenoky/KenokyLight.ttf");
}

@font-face {
  font-family: "C4";
  src: url("/public/fonts/C4/C4v4-Regular.woff");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
