:root {
  --title-font: "gallient";
  --color-text: #1c1b1b;
  // --color-bg: #efe6e1;
  --color-bg: #f3f1ec;
  --color-link: #b07656;
  --color-link-hover: #000;
  --color-deco: #e4dbd6;
  --res: calc(0.01 * 10vmin);
  --overflow: 40px;
}
