@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 16px;
}

@font-face {
  font-family: "telegraf";
  src: url("../fonts/PPTelegraf/PPTelegraf-UltraLight.otf");
}

@font-face {
  font-family: "gallient";
  src: url("../fonts/gallient-cufonfonts/GallientRegular-eZoMp.ttf");
}

:root {
  --title-font: "gallient";
  --color-text: #1c1b1b;
  --color-bg: #f3f1ec;
  --color-link: #b07656;
  --color-link-hover: #000;
  --color-deco: #e4dbd6;
  --res: calc(0.01 * 10vmin);
  --overflow: 40px;
}

/* ------------------------------------------------
                    NOISE
--------------------------------------------------- */
.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  /* you can control opacity of noise  */
  opacity: 0.045;
  pointer-events: none;
  background: url("../images/noise.gif");
  z-index: 10;
}

/* ------------------------------------------------
                      CURSOR
  --------------------------------------------------- */
#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
}

.cursor__circle {
  background-image: url("../images/Red_asterisk.68f436c5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 72px;
  height: 72px;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  #cursor {
    display: none;
  }
}

/* SOMMAIRE 

- GLOBAL
- HEADER 
- ABOUT
- PROJECTS
- CONTACT

*/
/* ------------------------------------------------
                    GLOBAL
--------------------------------------------------- */
body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

[data-scroll] {
  will-change: transform;
  min-height: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-reset: figure;
}

/* ------------------------------------------------
                    HEADER
--------------------------------------------------- */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 32px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "telegraf";
  color: var(--color-link);
}

ul p {
  position: fixed;
  bottom: 5vh;
  left: 10vw;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav__container li {
  margin: 0 12px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 0 0 0 10vw;
  margin: 0 auto;
  font-family: var(--title-font);
}

h1 {
  font-size: clamp(35px, 15vw, 192px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0.9;
}

@media only screen and (max-width: 768px) {
  li a {
    font-size: clamp(6px, 14px, 16px);
  }
}

/* ------------------------------------------------
                    ABOUT
--------------------------------------------------- */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8vw 0 18vw 0;
  font-size: clamp(18px, 24px, 152px);
  font-weight: normal;
  font-family: "telegraf";
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 8vw 0 35vw 0;
  }
}

.about p {
  width: 80%;
  padding: 0 20vw;
}

@media only screen and (max-width: 768px) {
  .about p {
    padding: 0;
  }
}

/* ------------------------------------------------
                    PROJECTS
--------------------------------------------------- */
.item {
  margin: 10vh auto;
  max-width: 100%;
  position: relative;
  will-change: transform;
}

.item::before {
  counter-increment: figure;
  content: counter(figure, decimal-leading-zero);
  position: absolute;
  font-family: var(--title-font);
  font-size: 10rem;
  color: var(--color-deco);
  bottom: calc(100% - 3rem);
}

@media only screen and (max-width: 768px) {
  .item::before {
    bottom: calc(100% - 8rem);
  }
}

.item:nth-child(even)::before {
  right: 0;
}

.item__img-wrap {
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
  height: 50vh;
  max-width: calc(100% - 2rem);
  will-change: transform;
}

.item:first-child .item__img-wrap {
  width: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
  --image: url(../images/boutique-en-ligne1.png);
}

.item:nth-child(2) .item__img-wrap {
  width: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
  --image: url(../images/projet-hackathon1.png);
}

.item:nth-child(3) .item__img-wrap {
  width: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
  --image: url(../images/reservation-salle2.jpeg);
}

.item:nth-child(4) .item__img-wrap {
  width: 1000px;
  --image: url(../images/voyage-landing.png);
}

.item:nth-child(5) .item__img-wrap {
  width: 1000px;
  --image: url(../images/module-co.jpeg);
}

.item:nth-child(6) .item__img-wrap {
  width: 1000px;
  --image: url(../images/livre-or.png);
}

.item:nth-child(7) .item__img-wrap {
  width: 1000px;
  --image: url(../images/botanique-landing.png);
}

.item__img {
  height: calc(100% + (2 * var(--overflow)));
  top: calc(-1 * var(--overflow));
  width: 100%;
  position: absolute;
  background-image: var(--image);
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  will-change: transform;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}

.item__img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media only screen and (max-width: 768px) {
  .item__img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

.item__img--t1 {
  --overflow: 60px;
}

.item__img--t2 {
  --overflow: 80px;
}

.item__img--t3 {
  --overflow: 120px;
}

.item__caption {
  padding: 2rem 1rem;
}

.item__caption-title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

.item__caption-copy {
  margin: 0;
}

.item__caption-copy::before {
  content: "__";
  line-height: 1;
  color: var(--color-link);
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 1rem;
  display: block;
}

/* ------------------------------------------------
                    SKILLS
--------------------------------------------------- */
.skills {
  min-height: 100vh;
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (16.66vh)[6];
      grid-template-rows: repeat(6, 16.66vh);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin: 0 auto;
}

.grid .skills__heading {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.grid .skills__heading h3 {
  line-height: 5.46rem;
  font-size: 5.46rem;
  font-weight: normal;
  font-family: var(--title-font);
}

.skills__competence {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__competence div {
  border-bottom: solid 1px black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 1;
      flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__competence div:hover h3 {
  -webkit-transform: translate(44px);
          transform: translate(44px);
}

.skills__competence div h3 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: clamp(12px, 24px, 36px);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  font-family: var(--title-font);
  color: rgba(0, 0, 0, 0.737);
}

.skills__competence div p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skills__competence div img {
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .grid .skills__heading {
    -ms-grid-column: 3;
    -ms-grid-column-span: 9;
    grid-column: 3 / 12;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .skills__competence {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
  }
  .skills__competence p {
    font-size: 10px;
  }
}

/* ------------------------------------------------
                    CONTACT
--------------------------------------------------- */
.contact {
  min-height: 50vh;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 18;
      -ms-flex: 18;
          flex: 18;
}

.contact__text {
  padding: 0 16vw;
  font-size: clamp(18px, 24px, 152px);
  font-weight: normal;
  font-family: "telegraf";
}

.logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */